<a href="https://colab.research.google.com/github/AjanakuBen/Data-Wrangling-and-Cleaning-in-Python/blob/main/Top_50_Fast_Food_Chains_in_USA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#import necessary libraries
import numpy as np
import pandas as pd

**DATA CLEANING WITH TOP 50 FAST FOOD CHAINS IN USA**

In [87]:
data = pd.read_csv("Top 50 Fast-Food Chains in USA.csv", encoding = "latin") #import the csv file
data.head()

,Fast-Food Chains,U.S._Systemwide_Sales,Average_Sales_per_Unit,Franchised_Stores,Company_Stores,2021_Total_Units,Total_Change_in_Units_from_2020
0,Arbyâs,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bo jangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carlas Jr.,1560,1400,1011,47,1058,-21

In [133]:
data.shape #the dataset has 50 rows and 7 columns

(50, 7)

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Fast-Food Chains                 50 non-null     object
 1    U.S._Systemwide_Sales           50 non-null     int64
 2   Average_Sales_per_Unit           50 non-null     int64
 3   Franchised_Stores                50 non-null     int64
 4   Company_Stores                   50 non-null     int64
 5   2021_Total_Units                 50 non-null     int64
 6   Total_Change_in_Units_from_2020  50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

In [90]:
data.columns

Index(['Fast-Food Chains', ' U.S._Systemwide_Sales',
       'Average_Sales_per_Unit  ', 'Franchised_Stores', 'Company_Stores',
       '2021_Total_Units', 'Total_Change_in_Units_from_2020'],
      dtype='object')

In [91]:
data.dtypes #check inconsistent data types

Fast-Food Chains                   object
 U.S._Systemwide_Sales              int64
Average_Sales_per_Unit              int64
Franchised_Stores                   int64
Company_Stores                      int64
2021_Total_Units                    int64
Total_Change_in_Units_from_2020     int64
dtype: object

In [132]:
print(data[" U.S._Systemwide_Sales"].astype(float)) #convert the column "U.S._Systemwide_Sales" int datatype to float

0      4462.0
1       686.0
2      1485.0
3     10033.0
4      1560.0
5       931.0
6     16700.0
7      7547.0
8       776.0
9      2489.0
10     4494.0
11      931.0
12     8641.0
13    10416.0
14      973.0
15     1044.0
16     2093.0
17      759.0
18     2100.0
19     1175.0
20     4077.0
21     2203.0
22     2301.0
23     5100.0
24      996.0
25     4185.0
26      899.0
27      869.0
28    45960.0
29      661.0
30     4452.0
31     5650.0
32     3486.0
33      809.0
34     5500.0
35     4775.0
36      835.0
37     2377.0
38      777.0
39     5835.0
40    24300.0
41     9350.0
42    12600.0
43      687.0
44      948.0
45    11111.0
46     3089.0
47      615.0
48     2278.0
49     2233.0
Name:  U.S._Systemwide_Sales, dtype: float64

In [131]:
print(data["Average_Sales_per_Unit  "].astype(float)) #convert the column "Average_Sales_per_Unit" int datatype to float

0     1309.0
1      296.0
2     1924.0
3     1470.0
4     1400.0
5     1145.0
6     6100.0
7     2641.0
8      870.0
9     3099.0
10    1036.0
11    1551.0
12    1317.0
13    1127.0
14    2000.0
15     909.0
16    3172.0
17    1842.0
18    1117.0
19    3200.0
20    1843.0
21    1145.0
22     866.0
23    1408.0
24    4000.0
25    1000.0
26     934.0
27    1866.0
28    3420.0
29    1073.0
30    2173.0
31    2700.0
32    1147.0
33     643.0
34    1022.0
35    1867.0
36    1006.0
37    4893.0
38    3679.0
39    1643.0
40    1200.0
41     438.0
42    1823.0
43    1200.0
44    1009.0
45    1895.0
46    3640.0
47    1749.0
48    1592.0
49    2484.0
Name: Average_Sales_per_Unit  , dtype: float64

In [108]:
data.dtypes

Fast-Food Chains                   object
 U.S._Systemwide_Sales              int64
Average_Sales_per_Unit              int64
Franchised_Stores                   int64
Company_Stores                      int64
2021_Total_Units                    int64
Total_Change_in_Units_from_2020     int64
dtype: object

In [109]:
data

,Fast-Food Chains,U.S._Systemwide_Sales,Average_Sales_per_Unit,Franchised_Stores,Company_Stores,2021_Total_Units,Total_Change_in_Units_from_2020
0,Arbyâs,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bo jangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carlas Jr.,1560,1400,1011,47,1058,-21
5,Checkers/Rally's,931,1145,568,266,834,-13
6,Chick-fil-A,16700,6100,2650,82,2732,155
7,Chipotle,7547,2641,0,2966,2966,198
8,Church's Chicken,776,870,731,161,892,-13
9,Culverâs,2489,3099,831,6,837,55
10,Dairy Queen,4494,1036,4337,2,4339,-22
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Polo Loco,973,2000,292,189,481,1
15,Firehouse Subs,1044,909,1101,39,1140,9
16,Five Guys,2093,3172,911,479,1390,8
17,Freddy's Frozen Custard & Steak burgers,759,1842,391,29,420,32
18,Hardees,2100,1117,1536,198,1734,-32
19,In-N-Out Burger,1175,3200,0,370,370,5
20,Jack in the Box,4077,1843,2055,163,2218,-23
21,Jersey Mikes,2203,1145,2087,13,2100,246
22,Jimmy Johns,2301,866,2616,41,2657,48
23,KFC,5100,1408,3906,47,3953,10
24,Krispy Kreme,996,4000,51,307,358,6
25,Little Caesars,4185,1000,3601,580,4181,-28
26,Marco's Pizza,899,934,957,45,1002,48
27,McAllister's Deli,869,1866,472,33,505,24
28,McDonald's,45960,3420,12775,663,13438,244
29,Moe's Southwest Grill,661,1073,658,1,659,-22
30,Panda Express,4452,2173,147,2187,2334,150
31,Panera Bread,5650,2700,1130,950,2080,-25
32,Papa Johns,3486,1147,2564,600,3164,30
33,Papa Murphy's,809,643,1213,27,1240,-53
34,Pizza Hut,5500,1022,6526,22,6548,-13
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
36,QDOBA,835,1006,406,333,739,2
37,Raising Cane's,2377,4893,23,544,567,58
38,Shake Shack,777,3679,25,218,243,38
39,Sonic Drive-In,5835,1643,3232,320,3552,26
40,Starbucks,24300,1200,6497,8953,15450,113
41,Subway,9350,438,21147,0,21147,-1043
42,Taco Bell,12600,1823,6540,462,7002,203
43,Tim Horton's,687,1200,637,0,637,4
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
45,Wendy's,11111,1895,5535,403,5938,57
46,Whataburger,3089,3640,131,742,873,29
47,White Castle,615,1749,0,349,349,-6
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxbyâs,2233,2484,761,147,908,3

In [110]:
data.isnull().any() #check for missing values

Fast-Food Chains                   False
 U.S._Systemwide_Sales             False
Average_Sales_per_Unit             False
Franchised_Stores                  False
Company_Stores                     False
2021_Total_Units                   False
Total_Change_in_Units_from_2020    False
dtype: bool

In [112]:
data.isnull().sum().sum() #the total number of missing values

0

In [113]:
data.duplicated().any() #check if there is duplicated values

False

In [130]:
data["Fast-Food Chains"] = data["Fast-Food Chains"].str.replace("â","'") #In the "Fast-Food Chains" column, the character â was replaced with " ' "

In [129]:
data

,Fast-Food Chains,U.S._Systemwide_Sales,Average_Sales_per_Unit,Franchised_Stores,Company_Stores,2021_Total_Units,Total_Change_in_Units_from_2020
0,Arby ' s,4462,1309,2293,1116,3409,40
1,Baskin-Robbins,686,296,2317,0,2317,102
2,Bo jangles,1485,1924,496,277,773,15
3,Burger King,10033,1470,7054,51,7105,24
4,Carlas Jr.,1560,1400,1011,47,1058,-21
5,Checkers/Rally's,931,1145,568,266,834,-13
6,Chick-fil-A,16700,6100,2650,82,2732,155
7,Chipotle,7547,2641,0,2966,2966,198
8,Church's Chicken,776,870,731,161,892,-13
9,Culver ' s,2489,3099,831,6,837,55
10,Dairy Queen,4494,1036,4337,2,4339,-22
11,Del Taco,931,1551,306,294,600,4
12,Domino's,8641,1317,6185,375,6560,205
13,Dunkin',10416,1127,9244,0,9244,161
14,El Polo Loco,973,2000,292,189,481,1
15,Firehouse Subs,1044,909,1101,39,1140,9
16,Five Guys,2093,3172,911,479,1390,8
17,Freddy's Frozen Custard & Steak burgers,759,1842,391,29,420,32
18,Hardees,2100,1117,1536,198,1734,-32
19,In-N-Out Burger,1175,3200,0,370,370,5
20,Jack in the Box,4077,1843,2055,163,2218,-23
21,Jersey Mikes,2203,1145,2087,13,2100,246
22,Jimmy Johns,2301,866,2616,41,2657,48
23,KFC,5100,1408,3906,47,3953,10
24,Krispy Kreme,996,4000,51,307,358,6
25,Little Caesars,4185,1000,3601,580,4181,-28
26,Marco's Pizza,899,934,957,45,1002,48
27,McAllister's Deli,869,1866,472,33,505,24
28,McDonald's,45960,3420,12775,663,13438,244
29,Moe's Southwest Grill,661,1073,658,1,659,-22
30,Panda Express,4452,2173,147,2187,2334,150
31,Panera Bread,5650,2700,1130,950,2080,-25
32,Papa Johns,3486,1147,2564,600,3164,30
33,Papa Murphy's,809,643,1213,27,1240,-53
34,Pizza Hut,5500,1022,6526,22,6548,-13
35,Popeyes Louisiana Kitchen,4775,1867,2716,41,2754,146
36,QDOBA,835,1006,406,333,739,2
37,Raising Cane's,2377,4893,23,544,567,58
38,Shake Shack,777,3679,25,218,243,38
39,Sonic Drive-In,5835,1643,3232,320,3552,26
40,Starbucks,24300,1200,6497,8953,15450,113
41,Subway,9350,438,21147,0,21147,-1043
42,Taco Bell,12600,1823,6540,462,7002,203
43,Tim Horton's,687,1200,637,0,637,4
44,Tropical Smoothie Cafe,948,1009,1038,1,1039,125
45,Wendy's,11111,1895,5535,403,5938,57
46,Whataburger,3089,3640,131,742,873,29
47,White Castle,615,1749,0,349,349,-6
48,Wingstop,2278,1592,1498,36,1534,175
49,Zaxby ' s,2233,2484,761,147,908,3

DATA CLEANING DONE!